.page {
    width: 1100px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
  
.header {
    height: 100px;
    padding-bottom: 20px;
}

.board {
    background-color:azure;
    position: relative;
}

.board__space {
    margin: auto;
    height: 700px;
    width: 700px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board__cell {
    box-sizing: border-box;
    height:100%;
    width:100%;
    border: 0;
    background-color: transparent;
    transition: background-color 0.1s;
    border-radius: 3px;
}

.board__cell-container {
    box-sizing: border-box;
    height:10px;
    width:10px;
    border: 1px solid rgba(256, 0 , 0, 0.1);
    padding: 0;
    background-color: transparent;
    transition: background-color 0.1s;
    border-radius: 3px;
}

.board__cell-container:hover {
    background-color: lightgrey;
}

.board__button-launch {
    position: absolute;
    top: 40%;
    right: 30px;
}

.board__button-stop {
    position: absolute;
    top: 50%;
    right: 30px;
}

.board__button-reset {
    position: absolute;
    top: 60%;
    right: 30px;
}

.footer {
    height: 100px;
}