@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__rules/header__rules.css);
@import url(./blocks/header/__rules-text/header__rules-text.css);

@import url(./blocks/board/board.css);
@import url(./blocks/board/__control-panel/board__control-panel.css);





.board__space {
    margin: auto;
    height: 700px;
    width: 700px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.board__cell {
    box-sizing: border-box;
    height:100%;
    width:100%;
    border: 0;
    background-color: transparent;
    transition: background-color 0.1s;
    border-radius: 3px;
}

.board__cell-container {
    box-sizing: border-box;
    height:10px;
    width:10px;
    border: 1px solid rgba(256, 0 , 0, 0.1);
    padding: 0;
    background-color: transparent;
    transition: background-color 0.1s;
    border-radius: 3px;
}

.board__cell-container:hover {
    background-color: lightgrey;
}

.board__button-launch {

}

.board__button-stop {

}

.board__button-reset {

}

.footer {
    height: 100px;
}